<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si el archivo o carpeta solicitado no existe físicamente...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # ...envía todo al index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>